@tailwind base;
@tailwind components;
@tailwind utilities;

.servers-table-cel {
	@apply p-4 border border-cyan-700;
}

.alert-danger {
	@apply absolute top-2 left-0 right-0 p-2 mt-8 border bg-slate-700 border-red-400 text-white rounded mx-auto;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.arrow {
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	margin-top: 8px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	margin-top: 4px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.spinner {
	margin: 100px auto;
	width: 68px;
    height: 68px;
	position: relative;
  }
  
.cube1, .cube2 {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
	25% { 
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% { 
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% { 
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% { 
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% { 
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}